<div class="container">
  <h3> Result: Score <%= @score %> Time: <%= @time  %> Message: <%= @message %></h3>
  <p> Number of games played: <%= @numbergames %> </p>

  <%= link_to "Start a new game", "game", :class => "button button-primary" %>
</div>
